body{
font-family: 'Roboto', sans-serif;
margin:0;
background-color:rgba(48, 48, 48,1);
color:black;
}

.logomenu{
width: 250px;
height: 150px;
margin-top: -45px;
}


.menu{
position:fixed;
top: 0;
width: 100%;
height: 62.5px;
margin: 0;
text-align:center;
background-color: rgba(0,0,0,0.5);
box-shadow: 0 0 5px #0096f4;
opacity: 1;
z-index: 10;
}

#headerback, #headerback1, #headerback2{
width: 100%;
height: 100%;
}

#headback, #headback1{
width: 100%;
height: 100%;
transform:scale(1, -1);
}
.back{
position: relative;
background-color: black;
}


.navbar{
position: relative;
display: box;
width: 500px;
border-style: solid;
border-color: #0096f4;
box-shadow:  0 0 20px #0096f4;
box-shadow-color:red;
margin-top: -175%;
margin-right: auto;
margin-left: auto;
background-color: rgba(0,0,0,0.7);
border-radius: 70px;
}

.navbar nav ul{
list-style-type: none;

}


.navbar nav{
text-align: center;
}

.navbar nav ul li a{
color: #0096f4;
font-family: 'Roboto', sans-serif;
font-size: x-large;
text-decoration: none;
transition-duration: 2s;
}

.navbar nav ul li a:hover{
color: #6debfc;
text-shadow: 1px 2px 5px #0096f4;
transition-property: color, text-shadow;
transition-duration: 0.5s, 0.8s;
transition-timing-function: ease-in-out;
}

.r{
width: 92.5%;
}

.navbar nav ul li{
text-align: center;
padding-top: 50px;
padding-bottom: 50px;
}


#hr1{
color: blue;
}


.Mainreg{
text-align: center;
margin-bottom: 30px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: #385983 !important;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.footer-distributed{
font-family: Open Sans;
  z-index: 3;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 3px 3px 0 #0096f4;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #0096f4;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
  transition-property: color;
  transition-duration: 0.5s;
}

.footer-distributed .footer-links a:hover{
color: #0096f4;
}

.footer-distributed .footer-company-name{
  color:  #92999f;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}


.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color: #ffffff;
  text-decoration: none;
  transition-property: color;
  transition-duration: 0.5s;
}

.footer-distributed .footer-center p a:hover{
  color: #0096f4;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;

  transition-property: background;
  transition-duration: 0.5s;
}

.footer-distributed .footer-icons a:hover{
  background-color:  #0096f4;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}


#ovvv{
opacity:0%;
z-index: 1;
top: 0px;
text-align:center;
width: 100%;
height: 100%;
position:fixed;
background-color:rgba(0, 0, 0, 0.7);
transition-property: opacity;
transition-duration: 1.5s;
}

#regg{
margin-top: -98%;
position: relative;
margin-left: auto;
margin-right: auto;
width: 450px;
height: 500px;
}


.register-form{
position: relative;
margin-left: auto;
margin-right: auto;
margin-bottom: 25px;
background: white;
width: 450px;
display: box;
box-shadow:  0px 6px 25px #0096f4;
border-radius: 20px;
padding-left: 30px;
padding-right: 30px;
padding-top: 15px;
padding-bottom: 25px;
z-index:3;
}


.register-form input{
height:45px;
width: 92.5%;
color: #385983;
font-size:14px;
line-height:16px;
border: 2px solid #E9F2FF;
border-radius: 5px;
padding-left: 25px;
font-family: Roboto;
font-size: large;
}



input:focus{
outline: none;
border: 2px solid #C1D9FD;
}



#user{
transition-property: opacity;
transition-duration: 1s;
}

#user i{
font-size: 18px;
position: absolute;
margin-left: -35px;
margin-top: 15px;
}

#client{
margin-top: -520px;
z-index: 2;
opacity:0%;
transition-property: opacity;
transition-duration: 1s;
}


#butp:hover{
box-shadow 0px 0px 25px rgba(40, 220, 0, 1);
}

.r1{
margin-bottom: 45px;
}



.r1 small{
visibility: hidden;
margin-left: 5px;
color: rgba(255, 83, 83, 0.5);
}

.r1.success input{
border-color: rgba(0, 255, 255, 0.25);
}

.r1.error input{
border-color: rgba(255, 0, 0, 0.37);
}

.r1.error small{
visibility: visible;
}


.butregister{
display:block;
height: 45px;
width: 100%;
background: #0096f4;
border: 2px solid #C1D9FD;
border-radius: 5px;
color: white;
text-transforms: uppercase;
font-size: large;
margin-top: 30px;
}

.butregister:hover {
background-color: rgb(109, 235, 252, 1);
box-shadow: 0 0 10px rgb(109, 235, 252, 1);
cursor: pointer;
}

.butregister:disabled:hover {
background: #0096f4;
box-shadow: 0 0 0 rgb(0, 0, 0, 0);
cursor: default;
}


#cardreg select {
width: 100%;
height: 52.5px;
border: 2px solid #E9F2FF;
border-radius: 5px;
margin-bottom: 5px;
color: #385983;
}

#cardreg select:focus{
outline:none;
border: 2px solid #C1D9FD;
}

#cardreg select option{
padding-bottom: 20px;
padding-top: 20px;
color: #385983;
font-size:14px;
line-height:16px;
border: 2px solid #E9F2FF;
}


.menu1{
position:fixed;
top: 0;
width: 100%;
height: 62.5px;
margin: 0;
padding-left: 15px;
text-align:left;
opacity: 1;
z-index: 3;
}

.headerback1{
z-index:1;
}

#backg, #backg1{
width:100%;
height:100%;
opacity: 60%;
margin-bottom: 0px;
}

#backg1{
margin-top: 0px;
transform:scale(1, -1);
}

.body1{
margin:0;
}

.Company{
color:  white;;
}

.Company #ch{
margin-top: 108px;
width: 90%;
height: 1px;
border: solid #0096f4;
box-shadow: 0 0 20px #0096f4;
border-radius: 15px;
position: relative;
margin-left: auto;
margin-right: auto;
}

.text1{
position: absolute;
margin-top: 35px;
font-size: xx-large;
text-shadow: 1px 1px 5px #0096f4;
word-spacing: 7px;
}

.mm:first-letter{
font-family: Bold Italic;
font-size: 60px;
text-transform: uppercase;
}

.mm span{
color: #0096f4;
}

.mm{
opacity: 0;
border: 1px solid white;
width: 60%;
height: 125px;
margin-left: auto;
margin-right: auto;
text-align: center;
border-radius:50px;
background-color:rgba(0,0,0,0.6);
transition-duration: 2s;
}


.mm:hover {
box-shadow: 0px 0px 20px #0096f4;
opacity: 1;
transition-property: opacity, box-shadow;
transition-duration: 1.5s, 2s;
}

.fullbox:hover .mm2{
box-shadow: 0px 0px 20px #0096f4;
opacity: 1;
transition-property: opacity, box-shadow;
transition-duration: 1.5s, 2s;
}

.fullbox:hover .ch1{
transition-delay: 2s;
opacity: 1;
transition-duration: 1.5s;
}


.mm3:hover {
box-shadow: 0px 0px 20px #0096f4;
opacity: 1;
transition-property: opacity, box-shadow;
transition-duration: 1.5s, 2s;
}

.mm4:hover {
box-shadow: 0px 0px 20px #0096f4;
opacity: 1;
transition-property: opacity, box-shadow;
transition-duration: 1.5s, 2s;
}

.mm5:hover {
box-shadow: 0px 0px 20px #0096f4;
opacity: 1;
transition-property: opacity, box-shadow;
transition-duration: 1.5s, 2s;
}


#text1-1 span{
color: #0096f4;
}

.mm2{
border: 1px solid white;
padding-top: 20px;
padding-left: 25px;
padding-right: 25px;
height: 170px;
background-color: rgba(0,0,0,0.6);
border-radius: 20px;
opacity: 0;
transition-duration: 2s;
}

.mm2 span{
color: #0096f4;
}

.mm3{
border: 1px solid white;
padding-top: 20px;
height: 210px;
padding-left: 25px;
padding-right: 25px;
background-color: rgba(0,0,0,0.6);
border-radius: 20px;
opacity: 0;
transition-duration: 2s;
}

.mm3 span{
color: #0096f4;
}

.mm4{
border: 1px solid white;
padding-top: 20px;
padding-left: 25px;
padding-right: 25px;
height: 415px;
background-color: rgba(0,0,0,0.6);
border-radius: 20px;
opacity: 0;
transition-duration: 2s;
}

.mm4 span{
color: #0096f4;
}

.mm5{
border: 1px solid white;
padding-top: 20px;
height: 180px;
padding-left: 25px;
padding-right: 25px;
background-color: rgba(0,0,0,0.6);
border-radius: 20px;
opacity: 0;
transition-duration: 2s;
}
.mm5 span{
color: #0096f4;
}

.ch1{
margin-top: 50px;
margin-bottom: 50px;
width: 90%;
height: 1px;
border: solid #0096f4;
box-shadow: 0 0 20px #0096f4;
border-radius: 15px;
position: relative;
margin-left: auto;
margin-right: auto;
opacity: 0;
transition-delay: 1s;
transition-duration: 2s;
}


.cc{
display: box;
position: absolute;
bottom: -3200px;
}

.phone{
width: 300px;
height: 120px;
padding-top: 0px;
padding-bottom: 20px;
position: absolute;
margin-top: 2900px;
margin-left: 100px;
margin-left: 15px;
color: #0096f4;
font-family: Roboto;
font-size: xx-large;
}


.socialmedia{
position: absolute;
margin-left: 15px;
margin-top: 2800px;
color: #0096f4;
}


.socialmedia a img{
width: 100px;
height: 100px;
}

.mapa{
width: 100px;
height: 120px;
border: 1px solid green;
border-radius:20px;
}


.menuaut{
position:fixed;
top: 0;
width: 100%;
height: 62.5px;
background-color: rgba(49, 49, 49, 0.8);
margin: 0;
text-align:center;
z-index: 10;
}

#im{
width:100%;
height: 100%;
opacity: 50%;
z-index: 0;
}


.heading{
position: absolute;
top: 15%;
width: 100%;
color: #0096f4;
font-family: Times New Roman;
font-size: 55px;
text-shadow: 1px 1px 5px rgba(255, 255, 255, 1);
z-index: 1;
}


#v1{
margin-left: 20px;
font-size: 70px;
}

#v2{
margin-left: 100px;
font-size: 70px;

}

#v3{
margin-left: 175px;
font-size: 70px;
}

#v4{
color: #0096f4;
text-align:center;
margin-top: -10%;
}

#v5{
color: #0096f4;
margin-top: 255px;
text-align: right;
margin-right: 15px;
}

#v6{
color: #0096f4;
margin-top: 480px;
transform: rotate(15deg);
}

#v7{
color: #0096f4;
text-align: right;
transform: rotate(-23deg);
}


.hh1{
z-index:1;
}

.box{
position: relative;
z-index: 2;
margin-left: auto;
margin-right: auto;
margin-top: 17%;
text-align:center;
border-radius: 35px;
width: 465px;
height: 515px;
box-shadow: 0 0 20px #0096f4;
background-color: rgba(255, 255, 255, 0.8);
}

.aut div:first-child{
text-transform: uppercase;
}

.aut input{
width: 350px;
height: 45px;
border: none;
background-color: transparent;
border-bottom: 2px solid #0096f4;
color: #385983;
margin-top: 10px;
margin-bottom: 15px;
text-align: center;
}




.aut{
padding-top: 40px;
padding-bottom: 20px;
font-family: Roboto;
font-size: 22px;
}

.aut input[type="text"]{
font-size: 20px;
}

.aut #password{
font-size: 20px;
margin-bottom: 35px;
}

.aut i{
position: absolute;
font-size: 20px;
margin-left: -35px;
margin-top: 25px;
}

.aut input:focus{
outline:none;
border-bottom: 2px solid rgba(0, 200, 244, 1);
}


.aut input[type="checkbox"]{
display:none;
}

.aut label{
font-size: 18px;
}


#rememberme + span:before{
   font-family: 'FontAwesome';
   font-size: 25px;
   color: #0096f4;
}

#rememberme + span:before{
   content: "\f096"; /* check-empty */
}

#rememberme:checked + span:before{
  content: "\f046"; /* check */
  color: rgba(0, 200, 244, 1);
}



.buttonlogin{
margin-top: 25px;
width: 350px;
height: 45px;
border: 2px solid #C1D9FD;
background-color: #0096f4;
color: white;
font-size: 18px;
margin-bottom: 15px;
margin-top: 35px;
}

.buttonlogin:hover{
outline:none;
background-color: rgba(0, 200, 244, 1);
cursor: pointer;
}

.buttonlogin:disabled:hover{
outline:none;
background-color: #0096f4;
cursor: default;
}

#forgotPassword{
text-decoration: none;
color: #0096f4;
font-size: 18px;
}

#forgotPassword:hover{
color: rgba(0, 200, 244, 1);
}


.error{
font-family: Roboto;
font-size: 20px;
color: rgba(255, 0, 0, 0.6);
margin-bottom: 10px;
}

.slogan{
position: relative;
margin-top: -650px;
text-align: center;
color: #0096f4;
font-size: 50px;
text-shadow: 1px 1px 5px #ffffff;
}

#pc1{
z-index:1;
width:100%;
height:100%;
opacity: 45%;
}

#pc2{
z-index:1;
width:100%;
height:100%;
opacity: 50%;
}

#dd{
z-index:1;
background-color: rgba(37, 37, 37, 0.7);
}


#open{
border: 1px solid  #C1D9FD;
border-radius:20px;
position: absolute;
margin-top: -50%;
margin-left: 10%;
width: 240px;
height: 100px;
background-color:  #0096f4;
cursor: pointer;
outline: none;
color:#C1D9FD;
transition-property: box-shadow, border, background-color, color;
transition-duration: 2s;
font-size:large;
z-index:3;
}

#open:hover{
box-shadow: -10px 5px 30px #0096f4;
background-color: #6debfc;
border: 2px solid #02abde;
color: black;
}


.form-pop {
box-shadow:  0px 6px 25px #0096f4;
background-color: white;
border: 1px solid #0096f4;
border-radius: 35px;
width: 350px;
height: 530px;
opacity: 0%;
position: relative;
z-index: 0;
transition-property: opacity, z-index;
transition-duration: 1s, 1.5s;
}

.form-pop{
text-align:center;
font-size: large;
}

#deposit{
height: 470px;
margin-left: auto;
margin-right: auto;
text-align: center;
position: relative;
margin-top: -480px;
}

#cashtransfer{
margin-left: auto;
margin-right: auto;
text-align: center;
position: relative;
margin-top: -50%;
}

#convert{
height: 590px;
margin-left: auto;
margin-right: auto;
text-align: center;
position: relative;
margin-top: -525px;
}

#cashextradition{
margin-left: auto;
margin-right: auto;
text-align: center;
position: relative;
top: 250px;
}



.con select{
text-align: center;
font-size: 15px;
margin-bottom: 0px;
width:260px;
height: 50px;
color: #385983;
line-height:16px;
border: 2px solid #E9F2FF;
}

.r2{
margin-bottom: 6px;
}

.r2 small{
visibility: hidden;
margin-left: 5px;
color: rgba(255, 83, 83, 0.5);
}

.r2.success input{
border-color: rgba(0, 255, 255, 0.25);
}

.r2.success select{
border-color: rgba(0, 255, 255, 0.25);
}

.r2.error select{
border-color: rgba(255, 0, 0, 0.37);
}

.r2.error input{
border-color: rgba(255, 0, 0, 0.37);
}

.r2.error small{
visibility: visible;
}

.r3{
margin-bottom: 30px;
}

#convertor{
color: rgba(35, 35, 35, 1);
position: relative;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: -480px;
width: 550px;
height: 500px;
display: fixed;
opacity: 0%;
z-index: 1;
transition-property: opacity, z-index;
transition-duration: 1s, 1.5s;
}


#cashextradition{
margin-top: -725px;
height: 450px;
}

.con select option{
font-size: 15px;
margin-top: 10px;
margin-border: 10px;
}


.con select: focus{
outline: none;
border: 2px solid #C1D9FD;
}


.con input{
border-radius: 5px;
text-align: center;
width:250px;
height: 40px;
color: #385983;
font-size:16px;
line-height:16px;
border: 2px solid #E9F2FF;
}


.con input:focus{
outline: none;
border: 2px solid #C1D9FD;
}

.con small{
text-align: left;
}


.bb{
color: white;
margin-top: 10px;
width:250px;
height: 40px;
line-height:16px;
border: 2px solid #E9F2FF;
background: #0096f4;
font-size:large;
outline: none;
}



.bb:hover{
background-color: rgb(109, 235, 252, 1);
box-shadow: 0 0 10px rgb(109, 235, 252, 1);
cursor: pointer;
}


.bb:disabled:hover{
background: #0096f4;
box-shadow: 0 0 0 rgb(0, 0, 0, 0);
cursor: default;
}


#open1{
border: 1px solid  #C1D9FD;
border-radius:20px;
position: absolute;
margin-top: -35%;
margin-left: 10%;
width: 240px;
height: 100px;
background-color:  #0096f4;
cursor: pointer;
color:#C1D9FD;
transition-property: box-shadow, background-color, color, border;
transition-duration: 2s;
font-size:large;
z-index:3;
}


#open2{
border: 1px solid  #C1D9FD;
border-radius:20px;
position: absolute;
margin-top: -50%;
margin-left: 80%;
width: 240px;
height: 100px;
background-color:  #0096f4;
cursor: pointer;
color:#C1D9FD;
transition-property: box-shadow, color, background-color, border;
transition-duration: 2s;
font-size:large;
z-index:3;

}


#open3{
border: 1px solid  #C1D9FD;
border-radius:20px;
position: absolute;
margin-top: -35%;
margin-left: 80%;
width: 240px;
height: 100px;
background-color:  #0096f4;
cursor: pointer;
color:#C1D9FD;
transition-property: box-shadow, color, background-color, border;
transition-duration: 2s;
font-size:large;
z-index:3;

}

#open1:hover{
box-shadow: -10px 5px 30px #0096f4;
background-color: #6debfc;
border: 2px solid #02abde;
color: black;
}


#open2:hover{
box-shadow: 10px 5px 30px #0096f4;
background-color: #6debfc;
border: 2px solid #02abde;
color: black;
}

#open3:hover{
box-shadow: 10px 5px 30px #0096f4;
background-color: #6debfc;
border: 2px solid #02abde;
color: black;
}

.opopen{
z-index: 3;
transition-property: z-index;
transition-duration: 2s;
}

.menuaut1{
position:absolute;
top: 0;
width: 100%;
height: 62.5px;
margin: 0;
text-align:center;
z-index: 3;
}

#ledgermenu{
position: relative;
height: 355px;
width: 400px;
margin-top: -400px;
margin-left:auto;
margin-right:auto;
text-align: center;
z-index: 0;
}

#cardreg{
position: relative;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.logomenu1{
width: 250px;
height: 150px;
margin-top: -45px;
}


#ov{
z-index: 0;
top: 0px;
text-align:center;
width: 100%;
height: 100%;
position:fixed;
opacity: 0%;
background-color:rgba(0, 0, 0, 0.7);
transition-property: opacity, z-index;
transition-duration: 1s, 1.5s;
}



.dws-menu {
background-color: rgba(0,0,0, 0.45);
margin-top: -50%;
position:relative;
z-index: 4;
}

.dws-menu ul{
list-style: none;
text-align:center;
}

.dws-menu > ul{
display: flex;
justify-content: center;
}

.dws-menu > ul li a{
display: block;
background-color: #0096f4;
padding: 15px 30px 15px 40px;
font-size: 18px;
color: black;
text-decoration:  none;
text-transform: uppercase;
transition: all 0.3s ease;
}

.dws-menu > ul li{
position:relative;
border-right: 1px solid #C1D9FD;
}

.dws-menu > ul li:first-child{
border-left: 1px solid #C1D9FD;
}

.dws-menu li a:hover{
background-color: #6debfc;
box-shadow: 2px 5px 15px -5px #01D1CE;
transition: all 0.5s ease;
}


.dws-menu > ul li > a i.fa{
position: absolute;
top: 15px;
left: 12px;
font-size: 24px;
}


.dws-menu li ul{
position: absolute;
min-width: 150px;
display:none;
}

.dws-menu li > ul li{
border-bottom: 1px solid #C1D9FD;
}

.dws-menu li > ul li a{
outline:none;
padding: 10px;
text-transform: none;
background-color: rgba(0,155, 218, 0.7);
}

.dws-menu li > ul li  ul{
position: absolute;
right: -150px;
top: 0;
}

.dws-menu li:hover > ul{
display: block;
}


.register-form1{
position: absolute;
margin-left: 375px;
background: white;
width: 450px;
box-shadow:  0px 6px 25px #0096f4;
border-radius: 20px;
padding-left: 30px;
padding-right: 30px;
padding-top: 15px;
padding-bottom: 25px;
opacity:0%;
z-index:0;
transition-property: opacity;
transition-duration: 1s;
}

.register-form1 input{
height:45px;
width: 93%;
color: #385983;
font-size:14px;
line-height:16px;
border: 2px solid #E9F2FF;
border-radius: 5px;
padding-left: 25px;
font-family: Roboto;
font-size: large;
}

.register-form1 input:focus{
outline:none;
border: 2px solid #C1D9FD;

}

#type{
font-size: 15px;
}

#type option{
font-size: 15px;
}


.curruser{
text-align: center;
font-size: 22px;
position:absolute;
height: 57.5px;
width: 200px;
right: 10px;
top: 5px;
text-decoration: none;
color: #0096f4;
}


.sign{
position: absolute;
font-size: 22px;
font-weight: bold;
right: 10px;
text-decoration: none;
color: #0096f4;
margin-right: 55px;
margin-top: 12.5px;
transition-duration: 0.5s, 1s;
}

.sign:hover{
color: #6debfc;
text-shadow: 1px 2px 5px #0096f4;
transition-property: color, text-shadow;
transition-duration: 0.5s, 1s;
transition-timing-function: ease-in-out;
}


.signout{
font-size: 16px;
text-decoration:none;
color:  #0096f4;
transition-duration: 0.5s, 1s;
}

.signout:hover{
color: #6debfc;
text-shadow: 1px 2px 5px #0096f4;
transition-property: color, text-shadow;
transition-duration: 0.5s, 1s;
transition-timing-function: ease-in-out;
}

.wrap{
top: 0px;
text-align:center;
width: 100%;
height: 100%;
position:fixed;
display: block;
opacity: 0%;
z-index: 0;
background-color: rgba(0, 0, 0, 0.4);
transition-property: opacity, z-index;
}

.message{
color: white;
font-size: 30px;
text-shadow: 1px 2px 5px #0096f4;
margin-top: 200px;
text-align: center;
padding-top: 10px;
}


.message1{
color: white;
font-size: 15px;
text-align: center;
}


.bl{
color: white;
font-size: large;
width: 140px;
height: 65px;
opacity: 0%;
z-index: 0;
}


#rec{
background-color: #0096f4;
margin-right: 25px;
border: none;
transition-property: background-color;
transition-duration: 1.5s
}

#rec:hover{
cursor: pointer;
background-color: rgb(109, 235, 252, 1);
transition-property: background-color;
transition-duration: 1.5s
}

#prev{
background-color: rgba(110, 110, 110, 1);
margin-left: 25px;
border:  none;
transition-property: background-color;
transition-duration: 1.5s
}


#prev:not([disabled]):hover{
cursor: pointer;
background-color: rgba(255, 0, 0, 1);
transition-property: background-color;
transition-duration: 1.5s
}

#again{
background-color: rgba(112, 112, 214, 1);
margin-left: 25px;
border:  none;
transition-property: background-color;
transition-duration: 1.5s
}

#again:hover{
cursor: pointer;
background-color: rgba(194, 194, 255, 1);
transition-property: background-color;
transition-duration: 1.5s
}


.loader {
  font-size: 10px;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 40px;
  border-radius: 50%;
  background: white;
  background: -moz-linear-gradient(left, #0096f4 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #0096f4 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #0096f4 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #0096f4 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #0096f4 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #0096f4;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.convertotcl{
margin-left: auto;
margin-right: auto;
text-align: center;
height: 320px;
width: 420px;
border-radius: 10px;
box-shadow: 0 0 15px rgba(0, 211, 211, 0.6);
border:1px solid rgba(1, 189, 189, 1);
padding-top: 40px;
}


.convertotcl input{
margin-left: 5px;
}

#currencyrates{
height: 475px;
width: 685px;
box-shadow:  0px 10px 30px #0096f4;
background-color: white;
border: 1px solid #0096f4;
border-radius: 35px;
position: relative;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: -355px;
background-color: #ffffff;
opacity: 0%;
transition-property: opacity, z-index;
transition-duration: 1s, 1.5s;
}

#rateslogan{
font-size: x-large;
color: black;
margin-bottom: 5px;
}

.lk{
margin-top: 50px;
margin-bottom: 35px;
list-style: none;
display: flex;
text-align: center;
}

.lk li{
text-align: center;
padding-top: 15px;
width: 170px;
height: 250px;
border-radius: 10px;
box-shadow: 0 0 15px rgba(0, 211, 211, 0.6);
border:1px solid rgba(1, 189, 189, 1);
}


.lk > li:nth-child(2){
margin-left: 45px;
margin-right: 45px;
}

.b:hover{
cursor: pointer;
color: rgba(100, 236, 100, 1);
transition-property: color;
transition-duration: 1s;
}

.b{
color: black;
transition-property: color;
transition-duration: 1s;
}


.s:hover{
cursor: pointer;
color: rgba(255, 0, 0, 0.65);
transition-property: color;
transition-duration: 1s;
}

.s{
color: black;
transition-property: color;
transition-duration: 1s;
}

#currdate{
color: rgba(114, 114, 114, 1);
}
#currtime{
color: rgba(96, 96, 96, 1);
}

.addit{
text-align: left;
margin-left: 10px;
color: rgba(208, 208, 208, 1);
}


.buy{
margin-left: auto;
margin-right: auto;
text-align: center;
border: 1px solid rgba(178, 238, 255, 1);
border-radius: 5px;
width: 125px;
height: 45px;
background-color: rgba(0, 150, 244, 0.6);
margin-bottom: 20px;
margin-top: 5px;
}


.sell{
margin-left: auto;
margin-right: auto;
text-align: center;
border: 1px solid rgba(178, 238, 255, 1);
border-radius: 5px;
width: 125px;
height: 45px;
background-color: rgba(0, 150, 244, 0.6);
margin-top: 5px;
}

marquee{
width: 125px;
height: 40px;
padding-top: 12px;
color: white;
}

.fixedholding{
position: relative;
z-index: 1;
display: block;
margin-top: -100%;
}

.fixed{
position: relative;
background-color: rgba(0, 0, 0, 0.45);
width: 100%;
height: 180px;
border-radius: 20px;
box-shadow: 0 0 4px #0096f4;
font-size: x-large;
color: white;
padding-top: 15px;
z-index: 1;
}

.fixed div:first-child{
margin-left: 20px;
margin-bottom: 10px;
text-shadow: 5px 0 3px #0096f4;
font-style: italic;
font-size: xx-large;
}

.fixed div:nth-child(2){
color: rgba(206, 206, 206, 1);
margin-left: 15px;
margin-right: 15px;
}

#fixedbut{
border: 1px solid  #C1D9FD;
border-radius:20px;
margin-top: 100px;
margin-bottom: 50px;
display: flex;
margin-left: auto;
margin-right: auto;
padding-top: 38px;
justify-content: center;
width: 240px;
height: 100px;
background-color:  #0096f4;
cursor: pointer;
outline: none;
color:#C1D9FD;
transition-property: box-shadow, background-color, color;
transition-duration: 1s;
font-size:large;
}


#fixedbut:hover{
box-shadow: 0px 8px 15px #0096f4;
background-color: #6debfc;
color: black;
}

.capitalisationhold{
position: relative;
z-index: 1;

display: block;
}

#cplb{
position: relative;
border: 1px solid  #C1D9FD;
border-radius:20px;
margin-top: 100px;
margin-bottom: 50px;
display: flex;
margin-left: auto;
margin-right: auto;
padding-top: 28px;
justify-content: center;
width: 240px;
height: 100px;
background-color:  #0096f4;
cursor: pointer;
outline: none;
color:#C1D9FD;
transition-property: box-shadow, background-color, color;
transition-duration: 1s;
font-size:large;
}

#cplb:hover{
box-shadow: 0px 8px 15px #0096f4;
background-color: #6debfc;
color: black;
}

.floathold{
position: relative;
z-index: 1;
display: block;
}


#floatbut{
border: 1px solid  #C1D9FD;
border-radius:20px;
margin-top: 100px;
margin-bottom: 50px;
display: flex;
margin-left: auto;
margin-right: auto;
padding-top: 28px;
justify-content: center;
width: 240px;
height: 100px;
background-color:  #0096f4;
cursor: pointer;
outline: none;
color:#C1D9FD;
transition-property: box-shadow, background-color, color;
transition-duration: 1s;
font-size:large;
}

#floatbut:hover{
box-shadow: 0px 8px 15px #0096f4;
background-color: #6debfc;
color: black;
}

.ch2{
z-index: 2;
margin-top: 75px;
margin-bottom: 80px;
width: 90%;
height: 1px;
border: solid #0096f4;
box-shadow: 0 0 20px #0096f4;
border-radius: 15px;
position: relative;
margin-left: auto;
margin-right: auto;
}

#fixinvest{
width: 500px;
height: 675px;
opacity: 0%;
margin-left: auto;
margin-right: auto;
margin-top: -1640px;
z-index: 0;
}

.form_radio_btn {
display: inline-block;
margin-bottom: 30px;
margin-top: 7px;
margin-right: 15px;
margin-left: 15px;
}

.form_radio_btn input[type=radio] {
	display: none;
}


.form_radio_btn label{
display: inline-block;
cursor: pointer;
padding-top: 7px;
height: 33px;
width: 110px;
border: 1px solid #E9F2FF;
border-radius: 6px;
user-select: none;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: rgba(179, 236, 255, 1);
	border-color: rgba(0, 255, 255, 0.25);
}

/* Hover */
.form_radio_btn label:hover {
	background-color: rgba(239, 251, 255, 1);
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
	background: red;
	color: blue;
}

#fixcard{
width: 500px;
height: 450px;
opacity: 0%;
margin-left: auto;
margin-right: auto;
z-index: 0;
text-align: center;
margin-top: -358px;
}

#fixcash{
width: 500px;
height: 355px;
opacity: 0%;
margin-left: auto;
margin-right: auto;
z-index: 0;
text-align: center;
margin-top: -540px;
}

#b{
margin-bottom: 10px;
}

#bb3{
margin-bottom: 10px;
}

#conf{
text-align: center;
}

#conf div:first-child{
padding-top: 20%;
color: rgba(255, 85, 85, 1);
margin-top: -12.1%;
}

#conf div:nth-child(2){
margin-top: 50px;
font-family: 'Roboto', sans-serif;
font-size: 36px;
color: rgba(0, 0, 0, 0.7);
transition-property: color;
transition-duration: 0.5s;
}

#conf div:nth-child(2):hover{
color: rgba(255, 0, 0, 1);
}

#conf div:nth-child(2) span{
margin-top: 5px;
color: black;
font-size: 36px;
}

#conf1{
text-align: center;
}

#conf1 div:first-child{
padding-top: 20%;
color: #0096f4;
margin-top: -12.1%;
}

#conf1 div:nth-child(2){
margin-top: 50px;
font-family: 'Roboto', sans-serif;
font-size: 36px;
color: rgba(0, 0, 0, 0.7);
transition-property: color;
transition-duration: 0.5s;
}

#conf1 div:nth-child(2):hover{
color: #0096f4;
}

#resetPassword{
width: 550px;
height: 415px;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 15%;
background-color: rgba(255, 255, 255, 0.8);
z-index: 3;
opacity: 100%;

}

#resetPassword label{
text-transform: uppercase;
font-size: 24px;
color: rgba(41, 41, 41, 1);
}

#resetPassword input{
background-color: transparent;
border: none;
margin-top: 35px;
border-bottom: 2px solid #0096f4;
width: 400px;
height: 60px;
font-size: 21px;
text-align: center;
color: #385983;
}

#resetPassword input:focus{
border-bottom: 2px solid rgba(0, 200, 244, 1);
}

#resetPassword input[type='submit']{
margin-top: 40px;
margin-bottom: 30px;
background-color: #0096f4;
color: black;
}

#resetPassword input[type='submit']:hover{
background-color : rgba(0, 200, 244, 1);
cursor: pointer;
}

#resetPassword input[type='submit']:disabled:hover{
background-color : #0096f4  ;
cursor: default;
}


#resetPassword a{
text-decoration: none;
font-size: 18px;
color: #0096f4;
}

#resetPassword a:hover{
color: rgba(0, 200, 244, 1);
}

#resetPassword div{
padding-top: 13px;
text-align: left;
padding-left: 80px;
color: rgba(0,0,0,0.6);
}

.fa-lg{
opacity: 0%;
margin-left: 185px;
}


.fa-lg i{
color: #0096f4;
}



#resetPassword1{
width: 550px;
height: 490px;
margin-left: auto;
margin-right: auto;
text-align: center;
margin-top: 15%;
background-color: rgba(255, 255, 255, 0.8);
z-index: 3;
opacity: 100%;

}


#resetPassword1 label{
text-transform: uppercase;
font-size: 24px;
color: rgba(41, 41, 41, 1);
}


#resetPassword1 input{
background-color: transparent;
border: none;
margin-top: 20px;
border-bottom: 2px solid #0096f4;
width: 400px;
height: 60px;
font-size: 21px;
text-align: center;
color: #385983;
}


#resetPassword1 div small{
}

#resetPassword1 input:focus{
border-bottom: 2px solid rgba(0, 200, 244, 1);
}

#resetPassword1 input[type='submit']{
margin-top: 40px;
margin-bottom: 30px;
background-color: #0096f4;
color: black;
}

#resetPassword1 input[type='submit']:hover{
background-color : rgba(0, 200, 244, 1);
cursor: pointer;
}

#resetPassword1 input[type='submit']:disabled:hover{
background-color : #0096f4  ;
cursor: default;
}

#resetPassword1 .r2.success input{
border-bottom: 2px solid rgba(0, 225, 244, 1);
}

#resetPassword1 .r2.error input{
border-bottom: 2px solid rgba(255, 0, 0, 0.37);
}

#resetPassword1 .fa-lg{
opacity: 0%;
margin:0px;
text-align: center;
}

#resetPassword1 .r2 i{
font-size: 19px;
position: absolute;
margin-top: 40px;
margin-left: -25px;
}

#resetPassword1 a{
text-decoration: none;
font-size: 18px;
color: #0096f4;
}

#togglePassword {
cursor: pointer;
}

#hld{
height: 550px;
position-absolute;
margin-left: auto;
margin-right: auto;
margin-top: -50%;
}


#currHold{
margin-top: 5px;
margin-bottom: 50px;
}

#holdInfo{
font-size: 20px;
margin-left: auto;
margin-right: auto;
padding-top: 15px;
width: 280px;
height: 220px;
border-radius: 10px;
border: 1px solid #0096f4;
box-shadow:  0px 0px 5px #0096f4;
}

#currdate1{
color: rgba(114, 114, 114, 1);
}
#currtime1{
color: rgba(96, 96, 96, 1);
}


#profile {
    background: url(/Terminal/pics/storm-8.jpg) no-repeat center center fixed #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

ul.sidebar-menu {
    margin-top: 80px;
    padding: 0;
    max-width: 200px;
    list-style: none;
    list-style-type: none;
}
.sidebar-menu li a span {
  margin-right: 20px;
  color: white;
}
.sidebar-menu li a  {
  background-color: rgba(0,0,0,0.8);
  border-right: 1px solid #0096f4;
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  color: white;
}
.sidebar-menu li a:hover  {
  background-color: rgba(3, 161, 252, 0.6);
  padding: 20px 25px;
  display: block;
  text-decoration: none;
  color: white;
}
li.have-children ul {
  padding: 0px;
}
li.have-children ul li a {
  background-color: rgba(0,0,0,0.6);
  padding-left: 62px;
}
li.have-children ul li a:hover {
  color: #fff;
  background-color: rgba(70, 190, 252, 0.5);
  padding-left: 62px;
}
li.have-children, li {
  position: relative;
}
.have-children span::after {
  position: absolute;
  right: 30px;
  content: "\f054";
  color: #fff;
  transition: all .5s;
}
li.active.have-children span::after {
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar-menu .have-children > ul {
    display: none;
}
