<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/Terminal/css/style.css">
     <link rel="shortcut icon" href="/Terminal/logo/barclays.png" type="image/png">

</head>

<body background="/Terminal/pics/group.png">
<header class="hh1">

    <div class="menuaut">
        <a href="/Barclays"><img class="logomenu" src="/Terminal/logo/BarclaysPLC.png"></a>
    </div>

    <div class="heading">

        <div>
            <div id="v1">
                Carry
            </div>

            <div id="v2">
                your
            </div>

            <div id="v3">
                future!
            </div>
        </div>

        <div id="v4">Sharp minds, Sharp opportunities</div>
        <div id="v5">Thousands of possibilities. Get yours</div>
        <div id="v6">We bring good things to life</div>
        <div id="v7">What do you want to accomplish today?</div>
    </div>

</header>


<div class="box">
    <form class="aut" th:action="@{/Barclays/authorisation}" th:method="post" id="aut">

        <div>Sign in</div>
        <br>
        <div class="error" th:text="${message}"></div>

        <div class="r2">
            <input id="login" type="text" placeholder="Username" required autofocus name="username" onkeyup="checkParams()">
        </div>

        <div class="r2">
            <input id="password" type="password" placeholder="Password" required name="password" onkeyup="checkParams()">
            <i class="fa-regular fa-eye-slash" id="togglePassword"></i>
        </div>


        <label for="rememberme">
            <input id="rememberme" type="checkbox" name="remember-me"><span></span>
            Remember me on this computer.
        </label>

        <button class="buttonlogin" id="loggin" type="submit" disabled>Submit</button>
        <br>
        <a href="/Barclays/client/ForgotPassword" id="forgotPassword">Forgot password</a>
    </form>
</div>

<script src="/Terminal/js/authentication.js"></script>

</body>
</html>