<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/Terminal/css/style.css">
  <link rel="shortcut icon" href="/Terminal/logo/barclays.png" type="image/png">

</head>

<body>
<header class="hh1">

    <div class="menuaut">
        <img class="logomenu" src="/Terminal/logo/Barclays-PLC.png">
    </div>

    <div class="backk">
        <img id="im" src="/Terminal/pics/group.png">
    </div>

    <div class="heading">

        <div id="v1">
            Carry
        </div>

        <div id="v2">
            your
        </div>

        <div id="v3">
            future!
        </div>

        <div id="v4">Sharp minds, Sharp opportunities</div>
        <div id="v5">Thousands of possibilities. Get yours</div>
        <div id="v6">We bring good things to life</div>
        <div id="v7">What do you want to accomplish today?</div>
    </div>
</header>

<div class="box">
    <form class="aut">

        <label for="login" >Card number</label>
        <div>
            <input id="login" type="text" placeholder="XXXX XXXX XXXX XXXX" pattern="^(\d{4}\s){3}\d{4}$">
        </div>

        <label for="password">Password</label>
        <div>
            <input  id="password" type="password" placeholder="****" pattern="^\d{4}$">
        </div>
        <button class="buttonlogin" onclick="">Submit</button>

    </form>
</div>


</body>
</html>