<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForgotPassword</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/Terminal/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/Terminal/logo/barclays.png" type="image/png">
</head>
<body background="/Terminal/pics/group.png">

<div class="menuaut">
    <a href="/Barclays"><img class="logomenu" src="/Terminal/logo/BarclaysPLC.png"></a>
</div>

<div>
    <form id="resetPassword">
        <br>
        <br>
        <label for="mailtoreset">Send reset password link</label>
        <br>
        <input type="email" id="mailtoreset" placeholder="E-mail" onkeyup="checkParams()">
        <div id="message"></div>
        <div class="fa-lg"><i class="fas fa-circle-notch fa-spin"></i></div>
        <input type="submit" value="Send" disabled>
        <br>
        <a href="/Barclays/authorisation">Back to login page</a>
    </form>
    <script src="/Terminal/js/SendResetPasswordLinkRequest.js"></script>
</div>

</body>
</html>