<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Transaction</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet"  type="text/css" href="/Terminal/css/style.css">
  <link rel="shortcut icon" href="/Terminal/logo/barclays.png" type="image/png">

</head>

<body class="body2">

<div class="dd">
  <img id="pc1" src="/Terminal/pics/storm-3.jpg">
  <div class="menuaut1">
    <a href="/Barclays"><img class="logomenu1" src="/Terminal/logo/Barclays-PLC.png"></a>

    <div class="curruser">
      <span th:text="${session.SPRING_SECURITY_CONTEXT.getAuthentication().getName()}"></span>
      <br>
      <span><a href="/logout" class="signout">Log out</a></span>
    </div>

  </div>
</div>


<button class="opopen" id="open" onclick="opencashtransfer();" >Cash Transfer</button>
<script src="/Terminal/js/operations.js"></script>


<button class="opopen" id="open1" onclick="opendeposit();">Deposit</button>
<script src="/Terminal/js/operations.js"></script>


<button class="opopen" id="open2" onclick="openconvert();">Convert</button>
<script src="/Terminal/js/operations.js"></script>


<button class="opopen" id="open3" onclick="opencashextradition();">Cash Extradition</button>
<script src="/Terminal/js/operations.js"></script>

<div class="ov" id="ov"></div>


<div class="form-pop" id="cashtransfer">
  <form class="con">
    <h2>#Cash Transfer#</h2>
    <label>Your card</label>

    <br>
    <select id="billfrom">
      <option th:each="bill : ${session.bills}" th:text="${bill.card}">
      </option>
    </select>

    <br>
    <label>Recipient</label>
    <br>

    <input type="text" placeholder="XXXX XXXX XXXX XXXX" pattern="^(\d{4}\s){3}\d{4}$" id="billto">
    <br>
    <label>Summa</label>
    <br>
    <input type="text" placeholder="00.00" pattern="^\d+(\.\d{2})?$" id="summa">
    <br>
    <label>Pin code</label>
    <br>
    <input type="password" placeholder="****" pattern="^\d{4}$" id="pin">
    <br>
    <br>
    <button class="bb" id="bb1">Accomplish</button>
  </form>
</div>
<script src="/Terminal/js/cashtransferPOST.js"></script>

<div class="form-pop" id="deposit">
  <form class="con">
    <h2>#Deposit#</h2>

    <label>Your card</label>

    <br>
    <select id="billfrom2">
      <option th:each="bill : ${session.bills}" th:text="${bill.card}">
      </option>
    </select>

    <br>

    <label>Currency</label>
    <br>

    <select id="currency2">
      <option>BYN</option>
      <option>USD</option>
      <option>EUR</option>
      <option>RUB</option>
    </select>

    <br>
    <label>Summa</label>
    <br>

    <input type="text" placeholder="00.00" pattern="^\d+(\.\d{2})?$" id="summa2">
    <br>

    <br>
    <button type="submit" class="bb" id="bb2">Accomplish</button>
  </form>
</div>
<script src="/Terminal/js/depositPOST.js"></script>


<div class="form-pop" id="convert">
  <form class="con">
    <h2>#Convert#</h2>
    <label>Your card</label>

    <br>
    <select id="billfrom3">
      <option th:each="bill : ${session.bills}" th:text="${bill.card}" >
      </option>
    </select>

    <br>

    <label>Currency</label>
    <br>

    <select id="currency3">
      <option>BYN</option>
      <option>USD</option>
      <option>EUR</option>
      <option>RUB</option>
    </select>

    <br>
    <label>Summa</label>
    <br>

    <input type="text" placeholder="00.00" pattern="^\d+(\.\d{2})?$" id="summa3">
    <br>

    <label>Pin code</label>
    <br>
    <input type="password" placeholder="****" pattern="^\d{4}$" id="pin3">

    <br>
    <br>
    <button type="submit" class="bb" id="bb3">Accomplish</button>
  </form>
</div>
<script src="/Terminal/js/convertPOST.js"></script>


<div class="form-pop" id="cashextradition">
  <form  class="con">
    <h2>#Cash extradition#</h2>

    <label>Your card</label>

    <br>
    <select id="billfrom4">
      <option th:each="bill : ${session.bills}" th:text="${bill.card}">
      </option>
    </select>

    <br>

    <label>Summa</label>
    <br>

    <input type="text" placeholder="00.00" pattern="^\d+(\.\d{2})?$" id="summa4">
    <br>

    <label>Pin code</label>
    <br>
    <input type="password" placeholder="****" pattern="^\d{4}$" id="pin4">
    <br>
    <br>
    <button type="submit" class="bb" id="bb4">Accomplish</button>
  </form>
</div>
<script src="/Terminal/js/cashextraditionPOST.js"></script>

<div class="wrap" id="wrap">
  <div class="message" id="message"></div>
  <div class="loader"></div>
  <a th:href="@{/Barclays/bill/receipt}"><button class="bl" id="rec">Print receipt</button></a>
  <button class="bl" id="again" >Try again</button>
  <button class="bl" id="prev">back</button>
</div>

<script src="/Terminal/js/closeform.js"></script>
</body>

</html>