<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Transaction</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet"  type="text/css" href="/Terminal/css/style.css">
  <link rel="shortcut icon" href="/Terminal/logo/barclays.png" type="image/png">

</head>

<body class="body2">

<div class="dd">
  <img id="pc1" src="/Terminal/pics/storm-3.jpg">
  <div class="menuaut1">
    <a href="/Barclays"><img class="logomenu1" src="/Terminal/logo/Barclays-PLC.png"></a>
  </div>
</div>


<button class="open" onclick="opencashtransfer();" >Cash Transfer</button>
<script src="/Terminal/js/operations.js"></script>


<button class="open1" onclick="opendeposit();">Deposit</button>
<script src="/Terminal/js/operations.js"></script>


<button class="open2" onclick="openconvert();">Convert</button>
<script src="/Terminal/js/operations.js"></script>


<button class="open3" onclick="opencashextradition();">Cash Extradition</button>
<script src="/Terminal/js/operations.js"></script>

<div class="ov" id="ov"></div>

<div class="form-pop" id="cashtransfer">
  <form action="#" class="con">
    <h2>#Cash Transfer#</h2>
    <label>Your card</label>

    <br>
    <select>
      <option th:each="bill : ${session.bills}" th:text="${bill.card} + '<br />' + '(' + ${bill.currency} + ') ' + ${bill.ledger}" >
      </option>
    </select>

    <br>
    <label>Recipient</label>
    <br>

    <input type="text" placeholder="XXXX XXXX XXXX XXXX" pattern="^(\d{4}\s){3}\d{4}$">
    <br>
    <label>Summa</label>
    <br>
    <input type="text" placeholder="00.00" pattern="^\d+(\.\d{2})?$">
    <br>
    <label>Pin code</label>
    <br>
    <input type="password" placeholder="****" pattern="^\d{4}$">
    <br>
    <br>
    <button class="bb" >Accomplish</button>
  </form>
</div>


<div class="form-pop" id="deposit">
  <form action="#" class="con">
    <h2>#Deposit#</h2>
    <label>Currency</label>
    <br>

    <select>
      <option>BYN</option>
      <option>USD</option>
      <option>EURO</option>
      <option>RUB</option>
    </select>

    <br>
    <label>Summa</label>
    <br>

    <input type="text" placeholder="00.00" pattern="^\d+(\.\d{2})?$">
    <br>

    <label>Pin code</label>
    <br>
    <input type="password" placeholder="****" pattern="^\d{4}$">
    <br>
    <br>
    <button type="submit" class="bb" onclick="">Accomplish</button>
  </form>
</div>


<div class="form-pop" id="convert">
  <form action="#" class="con">
    <h2>#Convert#</h2>
    <label>Currency</label>
    <br>

    <select>
      <option>BYN</option>
      <option>USD</option>
      <option>EURO</option>
      <option>RUB</option>
    </select>

    <br>
    <label>Summa</label>
    <br>

    <input type="text" placeholder="00.00" pattern="^\d+(\.\d{2})?$">
    <br>

    <label>Pin code</label>
    <br>
    <input type="password" placeholder="****" pattern="^\d{4}$">
    <br>
    <br>
    <button type="submit" class="bb" >Accomplish</button>
  </form>
</div>


<div class="form-pop" id="cashextradition">
  <form action="#" class="con">
    <h2>#Cash extradition#</h2>

    <br>
    <label>Summa</label>
    <br>

    <input type="text" placeholder="00.00" pattern="^\d+(\.\d{2})?$">
    <br>

    <label>Pin code</label>
    <br>
    <input type="password" placeholder="****" pattern="^\d{4}$">
    <br>
    <br>
    <button type="submit" class="bb" onclick="">Accomplish</button>
  </form>
</div>


<script src="/Terminal/js/closeform.js"></script>
</body>

</html>