<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Terminal/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/Terminal/logo/barclays.png" type="image/png">
</head>
<body class="body1" >

<header>
    <div class="menu1">
        <a href="/Barclays"><img class="logomenu" src="/Terminal/logo/Barclays-PLC.png"></a>
     </div>
    <div >
        <img  id="backg" src="/Terminal/pics/ocean.jpg">
        <img  id="backg1" src="/Terminal/pics/ocean.jpg">
    </div>
</header>

<div class="ov" id="ovvv"></div>

    <form id="regg">  <!-- Enter th:method and th:action -->

        <div class="register-form" id="user">

            <div class="Mainreg"><h2>Registration</h2></div>

            <label><b>Login</b></label>
            <div class="r1">
                <input type="text" id="username" name="username">
                <br>
                <small>Error message</small>
            </div>

            <label><b>Password</b></label>
            <div class="r1">
                <input type="password" name="password" id="password">
                <br>
                <small>Error message</small>
            </div>

            <label><b>Confirm password</b></label>
            <div class="r1">
                <input type="password" name="confirmpassword" id="confirmpassword" >
                <br>
                <small>Error message</small>
            </div>

            <button type="button" class="butregister" id="go">Continue</button>
        </div>

        <div class="register-form" id="client">
            <label><b>Full name</b></label>
            <div class="r1">
                <input type="text" name="name" id="name" placeholder="Name Surname" >
                <br>
                <small>Error message</small>
            </div>

            <label><b>Passport</b></label>
            <div class="r1">
                <input type="text" name="passport" id="passport" placeholder="Passport number" pattern="^[A-Z]{2}\d{7}$">
                <br>
                <small>Error message</small>
            </div>

            <label for="bday"><b>Birth</b></label>
            <div class="r1">
                <input type="date" name="bday" id="bday">
                <br>
                <small>Error message</small>
            </div>

            <label for="phone"><b>Phone number</b></label>
            <div class="r1"><input type="tel" name="phone" id="phone" placeholder="Phone"></div>

            <button type="submit" class="butregister" id="reg" >Register</button>
        </div>

    </form>
<script src="/Terminal/js/regvalid.js"></script>

<!--<script src="/Terminal/js/Register.js"></script>-->


<!--<form id="register" th:method="POST" th:action="@{/Barclays/client/add}" th:object="${client}">-->
<!--    <div class="register-form" id="client">-->

<!--        <div class="Mainreg"><h2>Registration</h2></div>-->

<!--        <label><b>Full name</b></label>-->
<!--        <div class="r1"><input type="text" th:field="*{name}" id="name" placeholder="Name Surname" ></div>-->

<!--        <label><b>Passport</b></label>-->
<!--        <div class="r1"><input type="text" th:field="*{passport}" id="passport" placeholder="Passport number" required pattern="^[A-Z]{2}\d{7}$"></div>-->

<!--        <label for="bday"><b>Birth</b></label>-->
<!--        <div class="r1"><input type="date" th:field="*{birth}" id="bday"></div>-->

<!--        <label for="phone"><b>Phone number</b></label>-->
<!--        <div class="r1"><input type="tel" th:field="*{phone}" id="phone"  required placeholder="Phone"></div>-->

<!--        <button type="submit" class="butregister" >Register</button>-->
<!--    </div>-->
<!--</form>-->

<script src="/Terminal/js/clientformregclose.js"></script>

<div class="slogan">
<strong>The Future's Bright; The Future's Barclays</strong>
</div>

</body>
</html>