<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ResetPassword</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="/Terminal/css/style.css" type="text/css">
  <link rel="shortcut icon" href="/Terminal/logo/barclays.png" type="image/png">
</head>
<body background="/Terminal/pics/group.png">

<div class="menuaut">
  <a href="/Barclays"><img class="logomenu" src="/Terminal/logo/BarclaysPLC.png"></a>
</div>

<div>
  <form id="resetPassword1">
    <br>
    <br>

    <label for="pass">Reset password</label>
    <br>
    <div class="r2">
      <input type="password" id="pass" placeholder="New password" onkeyup="checkParams()">
      <i class="fa-regular fa-eye-slash" id="togglePassword1"></i>
      <br>
      <small></small>
    </div>

    <br>

    <div class="r2">
    <input type="password" id="confPass" placeholder="Confirm new password" onkeyup="checkParams()">
      <i class="fa-regular fa-eye-slash" id="togglePassword2"></i>
      <br>
      <small></small>
    </div>

    <div id="message"></div>
    <div class="fa-lg" id="scc"><i class="fas fa-circle-notch fa-spin"></i></div>

    <input type="submit" value="Change password" disabled>
    <br>
  </form>
</div>
<script src="/Terminal/js/resetPassword.js"></script>

</body>
</html>