<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/Terminal/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/Terminal/logo/barclays.png" type="image/png">
</head>
<body>

<header>
    <div class="dd">
        <img id="pc1" src="/Terminal/pics/storm-2.jpg">
        <div class="menuaut1">
            <a href="/Barclays"><img class="logomenu1" src="/Terminal/logo/BarclaysPLC.png"></a>

            <div class="curruser">
                <span th:text="${session.SPRING_SECURITY_CONTEXT.getAuthentication().getName()}"></span>
                <br>
                <span><a href="/logout" class="signout">Log out</a></span>
            </div>

        </div>
    </div>
</header>

<div class="ov" id="ov"></div>

<nav class="dws-menu">
    <ul>
        <li><a href="#"><i class="fa fa-hold"></i>Holdings</a>
            <ul>
                <li><a href="/Barclays/service/holdings">open holding</a></li>
                <li><a id="holdingCondition">Check your holding</a></li>
            </ul>
        </li>

        <li><a href="#"><i class="fa fa-cards"></i>Cards</a>
            <ul>
                <li><a id="goo" onclick="opencardreg()">apply</a></li>
                <li><a id="ledger">Check Ledger</a></li>
            </ul>
            <script src="/Terminal/js/opencardreg.js"></script>
            <script src="/Terminal/js/ledger.js"></script>
        </li>

        <li><a href="#"><i class="fa fa-credit"></i>Credit</a>
            <ul>
                <li><a href="#">credit1</a></li>
                <li><a href="#">credit2</a></li>
                <li><a href="#">credit3</a></li>
            </ul>
        </li>

        <li><a href="#"><i class="fa fa-rates"></i>Currency rates</a>
            <ul>
                <li><a id="rates">Rates</a></li>
                <li><a id="convertt">Convertor</a></li>
            </ul>
        </li>

        <li><a href="/Barclays/operation"><i class="fa fa-rates"></i>Operations</a></li>
    </ul>
</nav>
<script src="/Terminal/js/rates.js"></script>
<script src="/Terminal/js/Convertoropenclose.js"></script>


    <form id="cardapply">
        <div class="register-form1" id="cardreg">
            <div class="Mainreg"><h2><u>#Card extradition#</u></h2></div>

            <label for="type"><b>Card type</b></label>
            <div class="r1">
                <select id="type">
                    <option value="Salary">Salary card</option>
                    <option value="Personal" selected="selected" >Personal use card</option>
                    <option value="Corporate">Corporate card</option>
                </select>
                <small></small>
            </div>

            <label for="Currency" ><b>Currency</b></label>
            <div class="r1">
                <select id="Currency">
                    <option value="BYN">BYN</option>
                    <option selected="selected" value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="RUB" >RUB</option>
                </select>
                <small></small>
            </div>

            <button class="butregister" type="submit">Register</button>
        </div>
    </form>
<script src="/Terminal/js/cardextradition.js"></script>


<div class="form-pop" id="ledgermenu">
    <form  class="con">
        <h2><u>#Ledger#</u></h2>

        <label>Card</label>
        <div class="r2">
            <select id="bill">
                <option th:each="bill : ${session.bills}" th:text="${bill.card} + ' (' + ${bill.currency} + ')'">
                </option>
            </select>
            <small style="align: left;"></small>
        </div>

        <label>Pin code</label>
        <div class="r2">
            <input type="password" placeholder="****" maxlength="4" id="pincode">
            <small style="align: left;"></small>
        </div>

        <button class="bb" id="b">Check</button>
    </form>
    <script src="/Terminal/js/checkLedgerValidation.js"></script>
</div>

<div id="currencyrates">

    <br>
    <div id="rateslogan"><u>#Rates#</u></div>

    <div>
        <ul class="lk">

            <li>
                <div class="byn"><i>BYN</i>
                    <br>
                    <br>
                <a class="b"><small><u>buy</u></small></a>
                    <div class="buy"><marquee direction="right" scrollamount="3.5" onmouseover="this.stop();" onmouseout="this.start();" id="buybyn">00.00</marquee></div>
                    <br>
                <a class="s"><small><u>sell</u></small></a>
                    <div class="sell"><marquee direction="right" scrollamount="3.5" onmouseover="this.stop();" onmouseout="this.start();" id="sellbyn">00.00</marquee></div>
                </div>
            </li>

            <li>
                <div class="eur"><i>EUR</i>
                    <br>
                    <br>
                    <a class="b"><small><u>buy</u></small></a>
                    <div class="buy"><marquee direction="right" scrollamount="3.5" onmouseover="this.stop();" onmouseout="this.start();" id="buyeur">00.00</marquee></div>
                    <br>
                    <a class="s"><small><u>sell</u></small></a>
                    <div class="sell"><marquee direction="right" scrollamount="3.5" onmouseover="this.stop();" onmouseout="this.start();" id="selleur">00.00</marquee></div>
                </div>
            </li>

            <li>
                <div class="rub"><i>RUB</i>
                    <br>
                    <br>
                    <a class="b"><small><u>buy</u></small></a>
                    <div class="buy"><marquee direction="right" scrollamount="3.5" onmouseover="this.stop();" onmouseout="this.start();" id="buyrub">00.00</marquee></div>
                    <br>
                    <a class="s"><small><u>sell</u></small></a>
                    <div class="sell"><marquee direction="right" scrollamount="3.5" onmouseover="this.stop();" onmouseout="this.start();" id="sellrub">00.00</marquee></div>
                </div>
            </li>

        </ul>
    </div>

    <div>
        <div id="currdate"></div>
        <div id="currtime"></div>
        <div class="addit"><small>*all rates based on USD</small></div>
    </div>

</div>

<div class="form-pop" id="convertor">
    <form  class="con">
        <h2><u>#Convertor#</u></h2>

        <div class="convertotcl">
            <div class="r3">
                <i>USD </i>  <input type="number" id="usd">
            </div>

            <div class="r3">
                <i>BYN </i>  <input type="number" id="byn">
            </div>

            <div class="r3">
                <i>EUR </i>  <input type="number" id="eur">
            </div>

            <div class="r3">
                <i>RUB </i>  <input type="number" id="rub">
            </div>
        </div>

    </form>

    <br>
    <div class="addit"><small>*all rates are referenced to buy</small></div>
    <script src="/Terminal/js/convertot.js"></script>
</div>

<div class="form-pop" id="hld">

    <div class="con">

        <h2><u>#Holding info#</u></h2>

        <br>

        <label for="currHold">Holding</label>
        <br>
        <select  id="currHold" onchange="getInfAboutHold();">
            <option th:each="invest : ${session.invests}" th:text="${invest.id} + ' (' + ${invest.currency} + ')'">
            </option>
        </select>

        <br>

        <div id="holdInfo"></div>

        <br>

        <div>
            <div id="currdate1"></div>
            <div id="currtime1"></div>
        </div>

        <script src="/Terminal/js/getHoldingInfo.js"></script>
    </div>

</div>

<div class="wrap" id="wrap">
    <div class="message" id="message"></div>
    <div class="loader"></div>
   <button class="bl" id="rec">Get card</button>
    <button class="bl" id="prev" disabled>back</button>
</div>


<footer class="footer-distributed" id="support" style="margin-top: 9.3%;">

    <div class="footer-left">

        <h3>Barclays<span>UK</span></h3>

        <p class="footer-links">
            <a href="/Barclays">Home</a>

            <a href="/Barclays/service">Service</a>

            <a href="/Barclays">About</a>

            <a href="#">Faq</a>

            <a href="/Barclays">Contact</a>
        </p>

        <p class="footer-company-name">Barclays © 2022</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa-solid fa-location-dot"></i>
            <p><a href="https://www.google.com/maps/place/Barclays/@51.3899843,-7.4912245,6z/data=!3m1!5s0x487602ba7fdf2f17:0x1e31469762eb1c4b!4m9!1m2!2m1!1sBarclays!3m5!1s0x487602b076dd8651:0x61b76da347b69386!8m2!3d51.5044204!4d-0.0145982!15sCghCYXJjbGF5cyIDiAEBkgEEYmFuaw" target="_blank"> <span>2 Churchill Pl</span>London E14 5RB, UK</a></p>
        </div>

        <div>
            <i class="fa-solid fa-phone"></i>
            <p><a href="tel:+443457345345">+44 3457 345345</a></p>
        </div>

        <div>
            <i class="fa-solid fa-envelope"></i>
            <p><a href="mailto:denisolovey990@gmail.com">gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About the company</span>
            Reliable and trustworthy. Your money is safe with us. Your money matters. A partner for life. Hassle-free monetary solutions. Creating banking trust.
        </p>

        <div class="footer-icons">

            <a href="https://t.me/IamSoloveyDenis"><i class="fa-brands fa-telegram"></i></a>
            <a href="https://www.instagram.com/barclaysuk/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/iamdenissolovey" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/Lelikbjmak" target="_blank"><i class="fa-brands fa-github"></i></a>

        </div>

    </div>

</footer>

<script src="/Terminal/js/closecardreg.js"></script>

</body>
</html>