<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Services</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Terminal/css/style.css" type="text/css">
    <link rel="shortcut icon" href="/Terminal/logo/barclays.png" type="image/png">
</head>
<body>

<header>
    <div class="dd">
        <img id="pc1" src="/Terminal/pics/storm-2.jpg">
        <div class="menuaut1">
            <a href="/Barclays"><img class="logomenu1" src="/Terminal/logo/Barclays-PLC.png"></a>

            <div class="curruser">
                <span th:text="${session.SPRING_SECURITY_CONTEXT.getAuthentication().getName()}"></span>
                <br>
                <span><a href="/logout" class="signout">Log out</a></span>
            </div>

        </div>
    </div>
</header>

<div class="ov" id="ov"></div>

<nav class="dws-menu">
    <ul>
        <li><a href="/Barclays/service/holdings"><i class="fa fa-hold"></i>Holdings</a>
        </li>

        <li><a href="#"><i class="fa fa-cards"></i>Cards</a>
            <ul>
                <li><a id="goo" onclick="opencardreg()">apply</a></li>
                <li><a id="ledger">Check Ledger</a></li>
            </ul>
            <script src="/Terminal/js/opencardreg.js"></script>
            <script src="/Terminal/js/ledger.js"></script>
        </li>

        <li><a href="#"><i class="fa fa-credit"></i>Credit</a>
            <ul>
                <li><a href="#">credit1</a></li>
                <li><a href="#">credit2</a></li>
                <li><a href="#">credit3</a></li>
            </ul>
        </li>

        <li><a href="#"><i class="fa fa-rates"></i>Currency rates</a>
            <ul>
                <li><a id="rates">Rates</a></li>
                <li><a id="convertt">Convertor</a></li>
            </ul>
        </li>

        <li><a href="/Barclays/operation"><i class="fa fa-rates"></i>Operations</a></li>
    </ul>
</nav>
<script src="/Terminal/js/rates.js"></script>
<script src="/Terminal/js/Convertoropenclose.js"></script>

    <form id="cardapply">
        <div class="register-form1" id="cardreg">
            <div class="Mainreg"><h2><u>#Card extradition#</u></h2></div>

            <label for="type"><b>Card type</b></label>
            <div class="r1">
                <select id="type">
                    <option value="Salary">Salary card</option>
                    <option value="Personal" selected="selected" >Personal use card</option>
                    <option value="Corporate">Corporate card</option>
                </select>
            </div>

            <label for="Currency" ><b>Currency</b></label>
            <div class="r1">
                <select id="Currency">
                    <option value="BYN">BYN</option>
                    <option selected="selected" value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="RUB" >RUB</option>
                </select>
            </div>

            <button class="butregister" type="submit">Register</button>
        </div>
    </form>
<script src="/Terminal/js/cardextradition.js"></script>


<div class="form-pop" id="ledgermenu">
    <form  class="con">
        <h2><u>#Ledger#</u></h2>

        <label>Card</label>
        <div class="r2">
            <select id="bill">
                <option th:each="bill : ${session.bills}" th:text="${bill.card}">
                </option>
            </select>
            <br>
            <small></small>
        </div>

        <label>Pin code</label>
        <div class="r2">
            <input type="password" placeholder="****" maxlength="4" id="pincode">
            <br>
            <small></small>
        </div>

        <button class="bb" id="b">Check</button>
    </form>
    <script src="/Terminal/js/checkLedgerValidation.js"></script>
</div>

<div id="currencyrates">

    <br>
    <div id="rateslogan"><u>#Rates#</u></div>

    <div>
        <ul class="lk">

            <li>
                <div class="byn"><i>BYN</i>
                    <br>
                    <br>
                <a class="b"><small><u>buy</u></small></a>
                    <div class="buy"><marquee direction="right" scrollamount="3.5" onmouseover="this.stop();" onmouseout="this.start();" id="buybyn">00.00</marquee></div>
                    <br>
                <a class="s"><small><u>sell</u></small></a>
                    <div class="sell"><marquee direction="right" scrollamount="3.5" onmouseover="this.stop();" onmouseout="this.start();" id="sellbyn">00.00</marquee></div>
                </div>
            </li>

            <li>
                <div class="eur"><i>EUR</i>
                    <br>
                    <br>
                    <a class="b"><small><u>buy</u></small></a>
                    <div class="buy"><marquee direction="right" scrollamount="3.5" onmouseover="this.stop();" onmouseout="this.start();" id="buyeur">00.00</marquee></div>
                    <br>
                    <a class="s"><small><u>sell</u></small></a>
                    <div class="sell"><marquee direction="right" scrollamount="3.5" onmouseover="this.stop();" onmouseout="this.start();" id="selleur">00.00</marquee></div>
                </div>
            </li>

            <li>
                <div class="rub"><i>RUB</i>
                    <br>
                    <br>
                    <a class="b"><small><u>buy</u></small></a>
                    <div class="buy"><marquee direction="right" scrollamount="3.5" onmouseover="this.stop();" onmouseout="this.start();" id="buyrub">00.00</marquee></div>
                    <br>
                    <a class="s"><small><u>sell</u></small></a>
                    <div class="sell"><marquee direction="right" scrollamount="3.5" onmouseover="this.stop();" onmouseout="this.start();" id="sellrub">00.00</marquee></div>
                </div>
            </li>

        </ul>
    </div>

    <div>
        <div id="currdate"></div>
        <div id="currtime"></div>
        <div class="addit"><small>*all rates based on USD</small></div>
    </div>

</div>

<div class="form-pop" id="convertor">
    <form  class="con">
        <h2><u>#Convertor#</u></h2>

        <div class="convertotcl">
            <div class="r3">
                <i>USD </i>  <input type="number" id="usd">
            </div>

            <div class="r3">
                <i>BYN </i>  <input type="number" id="byn">
            </div>

            <div class="r3">
                <i>EUR </i>  <input type="number" id="eur">
            </div>

            <div class="r3">
                <i>RUB </i>  <input type="number" id="rub">
            </div>
        </div>

    </form>

    <br>
    <div class="addit"><small>*all rates are referenced to buy</small></div>
    <script src="/Terminal/js/convertot.js"></script>
</div>


<div class="wrap" id="wrap">
    <div class="message" id="message"></div>
    <div class="loader"></div>
    <a th:href="@{/Barclays/bill/card}"><button class="bl" id="rec">Get card</button></a>
    <button class="bl" id="prev">back</button>
</div>

<script src="/Terminal/js/closecardreg.js"></script>

</body>
</html>