<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Success</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
  <link rel="stylesheet" href="/Terminal/css/style.css" type="text/css">
  <link rel="shortcut icon" href="/Terminal/logo/barclays.png" type="image/png">
</head>

<body style="background-color: rgba(229, 229, 229, 1);">

<div id="conf1">
  <div><i class="fa-solid fa-check fa-6x"></i></div>
  <div>Account verified</div>
</div>

<footer class="footer-distributed" id="support" style="margin-top: 19.75%;">

  <div class="footer-left">

    <h3>Barclays<span>UK</span></h3>

    <p class="footer-links">
      <a href="/Barclays">Home</a>

      <a href="/Barclays/service">Service</a>

      <a href="/Barclays">About</a>

      <a href="#">Faq</a>

      <a href="/Barclays">Contact</a>
    </p>

    <p class="footer-company-name">Barclays © 2022</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa-solid fa-location-dot"></i>
      <p><a href="https://www.google.com/maps/place/Barclays/@51.3899843,-7.4912245,6z/data=!3m1!5s0x487602ba7fdf2f17:0x1e31469762eb1c4b!4m9!1m2!2m1!1sBarclays!3m5!1s0x487602b076dd8651:0x61b76da347b69386!8m2!3d51.5044204!4d-0.0145982!15sCghCYXJjbGF5cyIDiAEBkgEEYmFuaw" target="_blank"> <span>2 Churchill Pl</span>London E14 5RB, UK</a></p>
    </div>

    <div>
      <i class="fa-solid fa-phone"></i>
      <p><a href="tel:+443457345345">+44 3457 345345</a></p>
    </div>

    <div>
      <i class="fa-solid fa-envelope"></i>
      <p><a href="mailto:denisolovey990@gmail.com">gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Reliable and trustworthy. Your money is safe with us. Your money matters. A partner for life. Hassle-free monetary solutions. Creating banking trust.
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa-brands fa-telegram"></i></a>
      <a href="https://www.instagram.com/barclaysuk/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.linkedin.com/feed/?trk=onboarding-landing" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
      <a href="https://github.com/Lelikbjmak" target="_blank"><i class="fa-brands fa-github"></i></a>

    </div>

  </div>

</footer>

</body>
</html>