<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Barclays</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet"  type="text/css" href="style.css">
    <link rel="shortcut icon" href="logo/barclays.png" type="image/png">
</head>
<body>

<header>
    <div class="menu">
        <img class="logomenu" src="logo/Barclays-PLC.png">
    </div>
    <div class="back">
        <img id="headerback" src="pics/1.jpg">
        <img id="headback" src="pics/1.jpg" >
        <img id="headerback1" src="pics/1.jpg">
        <img id="headback1" src="pics/1.jpg" >
        <img id="headerback2" src="pics/1.jpg">
    </div>
</header>

<div class="navbar">
    <nav>
        <ul>
            <div class="r">
                <li><strong><a href="Register.html" target="_blank">Become a client</a></strong></li>
            </div>

            <div class="r">
                <li><strong><a href="authorization.html">Services</a></strong></li>
            </div>

            <div class="r">
                <li><strong><a href="#aboutcompany">About</a></strong></li>
                <script>
                    const anchors1 = document.querySelectorAll('a[href*="#"]')
                        for (let anchor1 of anchors1) {
                            anchor1.addEventListener("click", function(event) {
                                event.preventDefault();
                                const blockID = anchor1.getAttribute('href')
                                document.querySelector('' + blockID).scrollIntoView({
                                        behavior: "smooth",
                                        block: "start"
                                })
                            })
                            }
                </script>
            </div>

            <div class="r">
                <li><strong><a href="#support">Support</a></strong></li>
                <script>
                const anchors2 = document.querySelectorAll('a[href*="#"]')
                for (let anchor2 of anchors2) {
                anchor2.addEventListener("click", function(event) {
                event.preventDefault();
                const blockID = anchor2.getAttribute('href')
                document.querySelector('' + blockID).scrollIntoView({
                behavior: "smooth",
                block: "start"
                })
                })
                }
                </script>
            </div>

        </ul>
    </nav>
</div>

<div class="Company">
    <a id="aboutcompany"></a>
    <div id="ch"></div>

    <div class="text1">
        <p id="text1-1">
            <div class="mm">
            <span>Barclays</span> - Accuracy. Stability. Opportunity
            <br>
            For ordinary people with <span>extraordinary</span> dreams
            </div>
            <br>
            <br>
        <div class="fullbox">
        <div class="mm2">
            <span>Purpose and Values</span>
            <br>
            Our Purpose is the reason our company exists; the societal need we fulfil. It encapsulates what we are fundamentally here to do.
            It provides a clear expression of the kind of business we want to be, and what we care about, which in turn helps guide us in the decisions we make.
        </div>

        <br>

        <div class="ch1"></div>
        </div>
        <br>

        <div class="fullbox">
        <div class="mm3">
            <span>Innovation at Barclays</span>
            <br>
            You’ll find innovation in every corner of our business. From staying ahead of the curve on technology, to continually finding ways of improving processes,
            to collaborating with trailblazers – bringing new ideas to life is central to the way we support people, businesses, communities and the wider economy.
            Find out how Barclays is powering creative thinking, spearheading change in financial services and adapting in a constantly evolving world.
        </div>

        <br>
        <div class="ch1"></div>
        </div>
        <br>

            <div class="fullbox">
        <div class="mm4">
            <span>Diversity, Equity and Inclusion</span>
            <br>
            To strengthen our diverse, equitable and inclusive culture that enables our colleagues, customers, clients and communities to grow.
            <br>
            At Barclays we are committed to building an inclusive and supportive culture to provide equality of opportunity for diverse talent at all levels to grow. We believe that every individual should have the opportunity to fulfil their potential and achieve their personal and professional goals. Valuing the perspectives of colleagues from diverse backgrounds enables us to better understand our customers, clients and the communities we serve and also strengthens our culture, encourages innovation and enables us to make better decisions.
            All colleagues in Barclays have an Inclusion objective emphasising the role we all have to play in building a culture of belonging that recognises and values difference as a key driver of our purpose and our successful business performance.
            We focus on six areas: disability, gender, LGBT+, multicultural, multigenerational and socio-economic inclusion. Senior leaders champion these and they are embedded into the organisation through employee resource groups, organised by our people and funded by Barclays.
        </div>

        <br>
        <div class="ch1"></div>
            </div>
        <br>

            <div class="fullbox">
        <div class="mm5">
            <span>Succeeding globally</span>
            <br>
            To achieve our goals, alignment to our regions and their priorities is at the heart of our strategic approach. We must ensure that we provide meaningful support to regional priorities, metrics and talent pools.
            Regional DEI leads own local application of our global framework and support our businesses on DEI planning and priorities.
        </div>

        <br>
        <div class="ch1"></div>
            </div>
        <br>

        </p>
    </div>
</div>

<div>
    <div class="phone" id="support">
   <p>+44 7911 889890
       <br>
       +44 7911 787878
   </p>
    </div>

    <div class="socialmedia">
        <a href="https://www.google.com/maps/place/Barclays/@51.3899843,-7.4912245,6z/data=!3m1!5s0x487602ba7fdf2f17:0x1e31469762eb1c4b!4m9!1m2!2m1!1sBarclays!3m5!1s0x487602b076dd8651:0x61b76da347b69386!8m2!3d51.5044204!4d-0.0145982!15sCghCYXJjbGF5cyIDiAEBkgEEYmFuaw" target="_blank">
            <img  class="mapa" src="pics/map.png">
        </a>
        <a href="https://www.instagram.com/barclaysuk/" target="_blank"><img src="pics/instagram.png"></a>
    </div>

</div>

</body>

</html>